// enterprise home stylesheet
.what-we-do{
	width: 100%;
	margin: 0px auto;
	background: rgba(13, 21, 80, 0.63);  // $navyblue: #0D1550;
	padding: 10px 0px;
	text-align: center;
	position: absolute;
	margin-top: -53px;
	h2{margin: 0; font-weight:bold; color: #fff;}
}

.betabulls-enterprise-home{
	.banner-txt{height: 362px !important;}
}