::-webkit-scrollbar {width: 17px;background: #1d1d1d;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb {background: #88ADD6;}

body{background: #000}
.you-conquer{
	padding: 33px 0 0;
	margin: 77px auto 0;
	height: 146px;
	width: 1001px;
	display: block;
}
