<div class="modal fade" id="trialModal" tabindex="-1" role="dialog" aria-labelledby="trialModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="trialModalLabel">Build your Trust with 100% Risk Free Trial</h4>
			</div>
			<div class="modal-body">
				<br/>
				<p>
					In order to demonstrate the quality of our work, we offer a no cost 40 hour proof of concept and only ask you to move forward with us if you like our work.
					This way you know exactly what you are getting into before spending any money. 
				</p>
				<script class="trial-iframe" type="text/javascript" src="https://form.jotform.com/jsform/60875534402152"></script>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div><!-- end .trialModal -->