<div class="testimonial-card shadow">
	<p>
		"BetaBulls did a good job focusing on delivery of the solution and working within our 
		budget and the inevitable scope creep that occurs when hands-on experience with new things
		leads to new, great ideas... BetaBulls had a great attitude and energy and never stopped
		working for the end goal." 
	</p>
	<p class="quote-from"><b> &#9473;Online Operations Developer, <span class="org">Health Savings Advisor Company</span></b></p> 
</div>

<hr style="background: #ccc;" />

<div class="testimonial-card shadow">
	<p>
		"I'm extremely impressed. I had started my own process where you can create your own website, 
		and it's light years behind what they were able to develop. I've been very happy with BetaBulls."
	</p>
	<p class="quote-from"><b> &#9473;Founder, <span class="org">Startup Social Media</span></b></p> 
</div>

<hr style="background: #ccc;" />

<div class="testimonial-card shadow">
	<p>
		"I think the quality of the BetaBulls's work is very good. They're very responsive.
		We give them deadlines to complete projects, and they come in on time."
	</p>
	<p class="quote-from"><b> &#9473; Integration Director, <span class="org">Onboarding System Startup</span></b></p> 
</div>

<hr style="background: #ccc;" />

<div class="testimonial-card shadow">
	<p>
		"Requirements were a challenge for us, but BetaBulls was very flexible in terms of absorbing the requirements
		on the fly and changing things that they had already done at no additional cost. They believe in building
		relationships – that's the feeling I got."
	</p>
	<p class="quote-from"><b> &#9473;Software Development Manager, <span class="org">Medical Practice Management Company</span></b></p> 
</div>