
<span id="why-is-it-so-cheap">
<strong>Why does it cost so much?</strong> <br/>
This is actually more of a comment than a question that we receive: “That’s out of my budget.” At BetaBulls, we’re trying something that hasn't really been done before. Unlike our competitors we don’t require equity to build your MVP, despite it being offered to us, but more importantly, we’re less than half the cost of what a MVP will normally cost. See this article from <a target="_blank" href="http://www.forbes.com/sites/stellafayman/2013/05/02/how-much-does-it-cost-to-build-an-mvp/">Forbes: How Much Does It Cost To Build an MVP?</a> <br/>
What costs 15k+ anywhere else, is 7k with BetaBulls and you keep your equity. 
</span>

<br/><br/><br/>

<span id="what-is-an-MVP">
<strong>Then why is it so cheap?</strong> <br/>
We believe that the state of web/mobile app development is at a point where bootstrapping a MVP can be streamlined via an optimized/quantitative process based on <a target="_blank" href="http://en.wikipedia.org/wiki/Lean_Startup">The Lean Methodology</a>.
We are jumping ahead of the tech curve via iterative innovations in process &amp; principle to arrive at our price. 
</span>
